[MASTER]
init-hook="import os, sys; sys.path.append(os.path.dirname(os.path.abspath('.pylintrc')))"
extension-pkg-allow-list=lxml

[Format]
max-line-length=100

[MESSAGES CONTROL]
disable=missing-docstring,F0001
